<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.mapper.CommentMapper">
	  <insert id="insertComment" parameterType='comment'>
	  	insert into comment (board_no, id, comments)
	  				values(#{board_no}, #{id}, #{comments})
	  </insert>
	  
	  <update id="updateComment" parameterType='comment'>
	  	UPDATE comment SET comments=#{comments} WHERE id=#{id} and board_no=#{board_no}
	  </update>
	  
	  <delete id="deleteComment" parameterType='comment'>
	  	delete from comment where id=#{id} and board_no=#{board_no} and comm_no =#{comm_no}
	  </delete>
	  
	  <select id="searchComment" parameterType='string' resultType='comment'>
	  	select * from comment where id=#{id}
	  </select>
  </mapper>