<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.HistoryMapper">
    <insert id="insertHistory" parameterType="history">
        INSERT INTO HISTORY(ID, CODE, COUNT) VALUES(#{id}, #{code}, #{count})
    </insert>
    <update id="updateHistory" parameterType="history">
    	update history set count = #{count} where id= #{id} and code = #{code}
    </update>
    
    <select id="selectHistory" parameterType="history" resultType="String">
    	select count from history where id= #{id} and code = #{code}
    </select>
</mapper>